body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.822);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
}


.navbar .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .menu a:hover {
    color: red;
}

h2 {
    margin: 20px 0;
    text-align: center;
}
/* Slider */
.trending-slider {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.trending-slider img {
    width: 100%;
    display: block;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

/* Movie Grid */
.movie-grid {
    display: flex;
    width: max-content;
}

.item {
    scroll-snap-align: center;
    width: 180px;
    aspect-ratio: 11/16;
    position: relative;
    overflow: hidden;
    margin-right: 2px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0% 100%);
}

.item figcaption {
    position: absolute;
    bottom: -4rem;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    transition: 200ms;
}

.item:hover figcaption {
    bottom: 0rem;
}

.horizontal-scroll {
    width: 100%;
    overflow-x:  scroll;
    scrollbar-color: transparent transparent;
    scroll-snap-type: x mandatory;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}