body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    width: 100%;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar .search-box {
    flex: 1;
    margin: 0 20px;
}

.navbar .search-box input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.navbar .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .menu a:hover {
    color: red;
}

h2 {
    margin: 20px 0;
    text-align: center;
}
/* Slider */
.trending-slider {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.trending-slider img {
    width: 100%;
    display: block;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

/* Movie Grid */
.movie-grid {
    
    display: flex;
    width: max-content;
    gap: 1rem;
}

.horizontal-scroll {
    width: 100%;
    overflow-x:  scroll;
    scrollbar-color: transparent transparent;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}